@use 'themes' as t;
@use 'mixins';

.tab-list {
  list-style: none;
  margin: 0;

  &.tab-horizontal > li {
    display: inline-block;

    border: t.$border-width-s solid t.$background-accent-color;
    border-bottom: none;
    border-radius: 0;

  }
}

.dropdown-group {
  position: relative;

  .dropdown-menu {
    position: absolute;
    display: none;
    z-index: 100;
    top: t.$margin-xl;
    left: - t.$margin-xl;
  }

  &:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu:hover {
    display: block;
  }

  ul.dropdown-menu,
  ol.dropdown-menu {
    margin: 0;
    border: t.$border-width-s t.$shadow-medium solid;
    border-radius: t.$border-radius-s;
    padding-left: 0;

    list-style: none;
    background-color: t.$background-accent-color;

    li {
      cursor: pointer;
      white-space: nowrap;
      padding: t.$padding-s t.$padding-m;

      &:not(:last-child) {
        border-bottom: t.$border-width-s t.$background-color solid;
      }

      &:hover {
        // TODO Darken background.
        filter: brightness(t.$darker); 
      }
    }
  }
}

#main-navigation-tabs {
  background-color: t.$frame-background-color;
  border-bottom: solid t.$border-width-s t.$frame-border-color;

  .logo-tab-container {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tab-container {
    padding: t.$padding-m t.$padding-l;
  }

  #home-navigation {
    vertical-align: bottom;
    
    img {
      height: 1rem;
      vertical-align: middle;
      margin-left: t.$margin-m;
    }
  }

  #project-navigation-tabs {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 5px;

    .active {
      background-color: t.$background-color;
    }


    li {
      float: left;
      width: 7rem;

      padding: 0 5px;
      border: none;
      border-left: t.$border-width-s solid t.$background-accent-color;
      border-right: t.$border-width-s solid t.$background-accent-color;

      .tab-container {
        display: flex;
      }

      .tab-name {
        flex-grow: 1;
        @include mixins.hide-text-overflow;
      }

      .btn-tab-close {
        visibility: hidden;

        background-color: transparent;
        padding: 0 3px;
        border-radius: 0;
        margin: 0;
      }

      &:hover .btn-tab-close {
        visibility: visible;
      }
    }
  }
}
