@use "themes" as t;

#primary-sidebar {
  order: -1;
  flex-grow: 1;
  background-color: t.$frame-background-color;
  padding: 25px;

  .header {
    border-bottom: t.$border-width-s solid t.$background-accent-color;
    #sidebar-header-logo {
      max-width: 50%;
      padding: 1rem 0;
    }
  }

  nav {
    border-bottom-color: t.$background-accent-color;

    ul {
      list-style: none;
    }

    .drop-down-menu-title {
      .title-icon {
        padding-right: 5px;
      }

      .collapsed-indicator {
        padding-left: 5px;
      }
    }
  }

  #sidebar-commands {
    ul {
      list-style: none;
    }
  }
}
