@use 'themes' as t;

$control-button-size: 25px;

.container-tree {
  position: relative;
  text-align: center;
  
  .container-node {
    position: relative; // positioning for add child button
    display: inline-block;

    text-align: center;
    background-color: t.$background-accent-color;

    min-width: t.$card-min-width;

    padding: t.$padding-m t.$padding-xl calc(0.5* #{$control-button-size}) t.$padding-xl; // give room for add child button
    border: solid t.$border-width-m transparent;
    border-radius: t.$border-radius-m;
    margin: t.$padding-m t.$padding-m $control-button-size t.$padding-m;

    transition: border-color t.$transition-fast;

    &.selected {
      border-color: t.$primary-color;
    }

    &.dragover-active {
      border-color: t.$primary-color;
    }

    &:hover .container-menu-control,
    &:hover .add-child-container-control {
      display: inherit;
      opacity: 1;
    }
      
    .container-menu-control {
      position: absolute;
      top: t.$padding-m;
      right: t.$padding-m;     

      opacity: 0;
      transition: opacity t.$transition-fast;

      button.container-menu-toggle {
        background-color: transparent;
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .container-menu {
        position: absolute;
        z-index: 100;

        background-color: t.$background-accent-color;
        padding: 5px;
        border: t.$border-width-s t.$shadow-medium solid;
        border-radius: t.$border-radius-m;

        ul {
          list-style: none;
          margin: 0;
          padding: 5px;

          li {
            text-align: left;
            white-space: nowrap;
            border-bottom: t.$border-width-s t.$background-color solid;

            &:hover {
              // @todo: Darken background.
              filter: brightness(t.$darker); 
            }
          }
        }
      }
    }     

    .container-name {
      font-family: t.$title-font-family;
    }

    .container-control {
      width: $control-button-size;
      height: $control-button-size;
      vertical-align: bottom;
      padding: 0;
      border-radius: t.$border-radius-s;
      margin: 5px;
      background-color: t.$background-color;

      svg {
        width: calc(0.7* #{$control-button-size});
      }
    }

    .add-child-container-control {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      opacity: 0;
      transition: opacity t.$transition-fast;
      button {
        width: $control-button-size;
        height: $control-button-size;
        padding: 0;
        border-radius: 50%;
        color: t.$primary-button-color;
        background-color: t.$primary-button-background-color;

        &:hover {
          background-color: t.$primary-button-hover-background-color;
        }
      }
    }
  }

  .children {
      display: flex;
      justify-content: space-evenly;

      .child-node-marker {
        font-family: t.$title-font-family;
      }
  }

  .container-preview {
    height: t.$card-height;
    overflow: auto;

    .thot-ui-metadata-preview {
      text-align: left;
      list-style: none;
      padding: 0;

      .metadatum-key {
        display: inline-block;
        font-weight: bold;
        margin-right: t.$margin-m;

        &::after {
          content: ":";
        }
      }

      // .metadatum-value {
      // }
    }

    .assets-preview {
      .thot-ui-assets-list {
        text-align: left;
        list-style: none;
        padding: 0;

        .thot-ui-asset-preview {
          &.active {
            background-color: t.$primary-color;
          }
        }
      }


      .thot-ui-asset {
        display: grid;
        grid-template-columns: 15px 100px 20px;
        align-items: center;
        gap: 4px;

        .thot-ui-asset-icon {
          width: t.$asset-icon-size;
          height: t.$asset-icon-size;
        }

         &:hover .thot-ui-asset-remove {
             opacity: 1;
         }

         &:hover .thot-ui-asset-name {
           color: t.$hover-text-color;
         }
 
        .thot-ui-asset-remove {
          opacity: 0;
          display: flex;
          justify-content: center; 
          align-items: center; 
          width: 20px;
          height: 20px;
          font-size: 10px;      
        }

      }
    }

    .thot-ui-script-associations-preview {
      .thot-ui-script-associations-list {
        text-align: left;
        list-style: none;
        padding: 0;

        .thot-ui-script-association-preview {
          &.autorun-true::after {
            content: "\2605";
            margin-left: t.$margin-m;
          }

          &.autorun-false::after {
            content: "\2606";
            margin-left: t.$margin-m;
          }

          // .script-name {
          // }

          .script-priority {
            display: inline-block;
            margin-left: t.$margin-l;

            &::before {
              content: "(";
            }

            &::after {
              content: ")";
            }
          }

          .script-autorun {
            display: inline-block;
            margin-left: t.$margin-m;
          }
        }
      }
    }
  }

  .child-node-marker {
    margin: t.$padding-m;
  }

  .container-tree-node-connectors {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    .container-tree-node-connector {
      fill: none;
      stroke: t.$background-accent-color;
      stroke-width: 1;
    }

    .container-tree-visibility-control {
      fill: t.$background-accent-color;
      stroke: none;
      opacity: 0;
      transition: opacity t.$transition-fast;

      &:hover {
        opacity: 1;
      }
    }
  }
}
