@use 'themes' as t;

$control-button-size: 35px;

.container-tree {
  text-align: center;
  
  .container-node {
    position: relative; // positioning for add child button
    display: inline-block;

    text-align: center;

    background-color: t.$background-accent-color;
    padding: 0.5rem 0.5rem 20px 0.5rem; // give room for add child button
    border: solid t.$border-width-m transparent;
    border-radius: t.$border-radius-m;
    margin: 0.5em 0.5em $control-button-size 0.5em;

    transition: border-color t.$transition-fast;

    &.selected {
      border-color: t.$primary-color;
    }

    &.dragover-active {
      border-color: t.$primary-color;
    }

    &:hover .container-settings-control,
    &:hover .add-child-container-control {
      display: inherit;
      opacity: 1;
    }
      
    .container-settings-control {
      position: absolute;
      top: 5px;
      right: 5px;     

      opacity: 0;
      transition: opacity t.$transition-fast;

      button.container-settings-toggle {
        background-color: transparent;
        padding: 0;
        border: none;
        box-shadow: none;
      }

      .container-settings-menu {
        position: absolute;
        z-index: 100;

        background-color: t.$background-accent-color;
        padding: 5px;
        border: t.$border-width-s t.$shadow-medium solid;
        border-radius: t.$border-radius-m;

        ul {
          list-style: none;
          margin: 0;
          padding: 5px;
        }
      }
    }     

    .container-name {
      font-family: t.$title-font-family;
    }

    .container-control {
      width: $control-button-size;
      height: $control-button-size;
      padding: 5px;
      margin: 5px;
      background-color: t.$background-color;
    }

    .add-child-container-control {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      opacity: 0;
      transition: opacity t.$transition-fast;
      
      button {
        width: $control-button-size;
        height: $control-button-size;
        padding: 0;
        border-radius: 50%;
        background-color: t.$primary-button-color;

        &:hover {
          background-color: t.$primary-button-hover-color;
        }
      }
    }
  }

  .children {
      display: flex;
      justify-content: space-evenly;
  }

  .container-preview {
    .thot-ui-metadata-preview {
      text-align: left;
      list-style: none;
      padding: 0;

      .metadatum-key {
        display: inline-block;
        font-weight: bold;
        margin-right: t.$margin-m;

        &::after {
          content: ":";
        }
      }

      // .metadatum-value {
      // }
    }

    .assets-preview {
      .thot-ui-assets-list {
        text-align: left;
        list-style: none;
        padding: 0;

        .thot-ui-asset-preview {
          &.active {
            background-color: t.$primary-color;
          }
        }
      }
    }

    .thot-ui-script-associations-preview {
      .thot-ui-script-associations-list {
        text-align: left;
        list-style: none;
        padding: 0;
      }
    }
  }
}
