@use "themes" as t;

#dashboard {
  #dashboard-container {
    display: flex;
    flex-direction: column;
    gap: t.$gap-l;
  }

  margin-left: t.$margin-3xl;
  margin-top: 8px;

  #dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: t.$gap-m;

    button {
      height: t.$button-height;
    }
  }

  .new-project {
    display: flex;
    align-items: center;
  }

  .card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: t.$gap-xl;
    overflow: auto;
  }

  .card {
    width: 14rem;
    height: 7rem;
    background-color: t.$card-background-color;
    border-radius: t.$border-radius-l;
    margin: 0px;
    padding: 1.3rem;

    &:hover {
      background-color: t.$card-hover-background-color;
    }

    .title {
      margin-top: t.$margin-m;
      margin-bottom: t.$margin-xl;
    }
  }
}
