@use "themes" as t;

input,
textarea,
button {
  color: t.$body-text-color;
  border-radius: t.$border-radius-l;
  border: t.$border-width-s solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: t.$secondary-button-background-color;
  transition: border-color 0.25s;

  &:focus {
    border-color: t.$primary-color;
  }
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: t.$padding-m;

  label {
	  padding: t.$padding-m;
  }

  input,
  textarea {
    box-sizing: border-box;
    margin: 0;
  }

  .label-wrapper {
	  display: inline-flex;
	  flex-direction: column;
	  padding: t.$padding-m;

	  label {
		  padding: 0;
	  }
  }
}

input {
  outline: none;
}

input[type="number"] {
  padding: 7px;
  border-radius: 0;
}

input:has(+ .input-group-append) {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;

  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;

  color: t.$body-text-color;
  background-color: t.$secondary-button-background-color;

  border-bottom-right-radius: t.$border-radius-l;
  border-top-right-radius: t.$border-radius-l;
}

.inline-form-element {
  display: inline-block;

  &:not(.active):hover {
    cursor: pointer;
    border-radius: t.$border-radius-s;
    padding: 0.25em 0.5em;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  }
}

form.builder-steps {
	height: 100vh;
	overflow-y: auto;

	.form-step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		padding-bottom: 5%;

		.step-controls {
		}
	}
}
