@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Oddity";
		font-weight: 400;
		src: url("/public/fonts/oddity/Oddity-Regular.woff2") format("woff");
	}
}

@layer components {
	.border-1 {
		border-width: 1px;
	}
	.border-t-1 {
		border-top-width: 1px;
	}
	.border-r-1 {
		border-right-width: 1px;
	}
	.border-b-1 {
		border-bottom-width: 1px;
	}
	.border-l-1 {
		border-left-width: 1px;
	}
}
