@use 'themes' as t;

.project-canvas {
  height: 100%;
  margin-left: t.$margin-3xl;
  display: flex;
  justify-content: space-between;

  &:not(.active) {
    display: none;
  }

  .project-canvas-navbar {
    background-color: t.$frame-background-color;
    padding: 5px;
    border-right: solid t.$border-width-s t.$frame-border-color;
  }

  .thot-ui-drawer {
    width: 20vw;
  }

  .details-bar-drawer {
    width: 200px;
    background-color: t.$frame-background-color;

    .drawer-toggle {
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      cursor: pointer;

      padding: 0 t.$padding-s;
      border-right: solid t.$border-width-s t.$frame-border-color;
    }

    .project-canvas-details-bar {
      padding: t.$padding-m 10%;

      // .form-field {
      //   margin: 0 10% t.$margin-m;
      // }

      &.hidden {
        display: none;
      }

      // form {
      //   margin: t.$margin-m 10%;
      // }

      label input,
      label textarea {
        display: block;
        width: 80%;
      }
    }
  }

  .project-canvas-content {
    flex: 1; /* This allows the content to fill the remaining space */
    overflow: auto; /* This adds a scrollbar when the content overflows vertically */
    width: 400px;
    height: 300px;
    min-height: 100%;
    display: flex;

    .project {
      flex-grow: 1;
    }
  }

}
