@use 'themes' as t;

.project-canvas {
  height: 100%;
  margin-left: t.$margin-3xl;
  display: flex;
  justify-content: space-between;

  &:not(.active) {
    display: none;
  }

  .project-canvas-navbar {
    background-color: t.$frame-background-color;
    padding: t.$padding-m;
    border-right: solid t.$border-width-s t.$frame-border-color;
  }

  .details-bar-drawer {
    display: flex;
    justify-content: center;
    padding-top: t.$padding-l;
    width: t.$drawer-width;
    height: 100%;
    background-color: t.$frame-background-color;

    .drawer-toggle {
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      cursor: pointer;

      padding: 0 t.$padding-s;
      border-right: solid t.$border-width-s t.$frame-border-color;
    }

    .project-canvas-details-bar {
      overflow: auto;
      height: 100%;
      //TODO[1]: Could only make scroll work with absolute position
      // hence the 24px is hardcoded to accommodate this. This ideally
      // is just relative and has no hardcoded value to center it.
      position: absolute;
      right: 24px; // Hardcoded value due to the above comment!

      &.hidden {
        display: none;
      }
    }
  }

  .project-canvas-content {
    flex: 1; /* This allows the content to fill the remaining space */
    overflow: auto; /* This adds a scrollbar when the content overflows vertically */
    width: t.$canvas-width;
    height: t.$canvas-height;
    min-height: 100%;
    display: flex;

    .project {
      flex-grow: 1;
    }
  }

}
