@use "variables" as vars;

// ************
// *** font ***
// ************

$title-font-family: vars.$font-family-primary;
$body-font-family: vars.$font-family-secondary;

$font-size-xs: vars.$font-size-xs;
$font-size-base: vars.$font-size-base;
$font-weight-base: vars.$font-weight-base;
$line-height-base: vars.$line-height-base;

// *************
// *** color ***
// *************

$primary-color: vars.$primary-color-800;
$primary-color-accent: vars.$primary-color-700;

$background-color: vars.$secondary-color-800;
$background-accent-color: vars.$secondary-color-700;
$background-contrast-color: vars.$secondary-color-300;

$frame-background-color: vars.$secondary-color-900;
$frame-border-color: $background-accent-color;

$card-background-color: vars.$secondary-color-700;
$card-hover-background-color: vars.$secondary-color-600;

$input-border-color: vars.$secondary-color-500;
$input-background-color: vars.$secondary-color-900;

$select-background-color: vars.$secondary-color-900;

$body-text-color: vars.$secondary-color-50;
$title-text-color: vars.$secondary-color-50;
$link-text-color: vars.$secondary-color-200;
$link-hover-text-color: vars.$secondary-color-100;

$hover-text-color: vars.$secondary-color-200;
$hover-border-color: vars.$secondary-color-500;

$interactive-element-background-color: vars.$secondary-color-800;
$interactive-element-active-background-color: vars.$secondary-color-600;

$primary-button-color: vars.$secondary-color-900;
$primary-button-background-color: vars.$primary-color-300;
$primary-button-hover-color: vars.$secondary-color-500;
$primary-button-hover-background-color: vars.$primary-color-200;

$secondary-button-background-color: vars.$secondary-color-700;
$secondary-button-hover-background-color: vars.$secondary-color-800;
$secondary-button-hover-outline-color: vars.$secondary-color-500;

$project-script-button-background-color: vars.$secondary-color-800;
$project-script-button-hover-background-color: vars.$secondary-color-700;

$message-font-color: vars.$secondary-color-900;
$info-color: vars.$primary-color-300;
$info-border-color: vars.$primary-color-500;
$success-color: vars.$utility-green-300;
$success-border-color: vars.$utility-green-500;
$error-color: vars.$utility-red-300;
$error-border-color: vars.$utility-red-500;
$warning-color: vars.$utility-yellow-300;
$warning-border-color: vars.$utility-yellow-500;

$shadow-light: rgba(0, 0, 0, 0.2);
$shadow-medium: rgba(0, 0, 0, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.8);

$lighter: 120%;
$darker: 80%;

@media (prefers-color-scheme: light) {
  $primary-color: vars.$primary-color-300;
  $primary-color-accent: vars.$primary-color-400;

  $background-color: vars.$secondary-color-50;
  $background-accent-color: vars.$secondary-color-200;
  $background-contrast-color: vars.$secondary-color-700;

  $body-text-color: vars.$secondary-color-900;
  $title-text-color: vars.$secondary-color-900;
  $link-text-color: vars.$secondary-color-700;
  $link-hover-text-color: vars.$secondary-color-800;

  $button-color: vars.$secondary-color-200;
  $button-hover-color: vars.$secondary-color-300;
  $primary-button-color: vars.$primary-color-200;
  $primary-button-hover-color: vars.$primary-color-300;
}

// ****************
// *** geometry ***
// ****************

$padding-s: 3px;
$padding-m: 5px;
$padding-l: 8px;
$padding-xl: 12px;
$padding-xxl: 16px;
$padding-3xl: 20px;

$border-radius-s: 3px;
$border-radius-m: 5px;
$border-radius-l: 7px;

$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 4px;

$button-height: 40px;

$margin-s: 3px;
$margin-m: 5px;
$margin-l: 8px;
$margin-xl: 12px;
$margin-3xl: 36px;

$gap-s: 5px;
$gap-m: 10px;
$gap-l: 20px;
$gap-xl: 30px;

$card-min-width: 10rem;
$card-height: 6.5rem;

$default-icon-size: 15px;
$asset-icon-size: 15px;
$add-remove-icon-size: 15px;

$input-padding-y: 0.2em;
$input-padding-x: 0.6em;
$input-number-width: 3em;

$drawer-content-width-1-4: 40px;
$drawer-content-width: 170px;
$drawer-width: 240px;

$canvas-width: 400px;
$canvas-height: 300px;

// **************
// *** events ***
// **************

$transition-fast: 0.05s;
$transition-normal: 0.25s;
