@use 'variables' as vars;

// ************
// *** font ***
// ************

$title-font-family: vars.$font-family-primary;
$body-font-family: vars.$font-family-secondary;
$font-size-base: vars.$font-size-base;
$font-weight-base: vars.$font-weight-base;
$line-height-base: vars.$line-height-base;

// *************
// *** color ***
// *************

$primary-color: vars.$primary-color-800;
$primary-color-accent: vars.$primary-color-700;

$background-color: vars.$secondary-color-800;
$background-accent-color: vars.$secondary-color-700;
$background-contrast-color: vars.$secondary-color-300;

$frame-background-color: vars.$secondary-color-900;
$frame-border-color: $background-accent-color;

$body-text-color: vars.$secondary-color-50;
$title-text-color: vars.$secondary-color-50;
$link-text-color: vars.$secondary-color-200;
$link-hover-text-color: vars.$secondary-color-100;

$interactive-element-background-color: vars.$secondary-color-700;
$interactive-element-active-background-color: vars.$secondary-color-600;
$primary-button-color: vars.$primary-color-700;
$primary-button-hover-color: vars.$primary-color-600;

$message-font-color: vars.$secondary-color-900;
$info-color: vars.$primary-color-300;
$success-color: vars.$utility-green-300;
$error-color: vars.$utility-red-300;

$shadow-light: rgba(0, 0, 0, 0.2);
$shadow-medium: rgba(0, 0, 0, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.8);

$lighter: 120%;
$darker: 80%;

@media (prefers-color-scheme: light) {
  $primary-color: vars.$primary-color-300;
  $primary-color-accent: vars.$primary-color-400;

  $background-color: vars.$secondary-color-50;
  $background-accent-color: vars.$secondary-color-200;
  $background-contrast-color: vars.$secondary-color-700;

  $body-text-color: vars.$secondary-color-900;
  $title-text-color: vars.$secondary-color-900;
  $link-text-color: vars.$secondary-color-700;
  $link-hover-text-color: vars.$secondary-color-800;

  $button-color: vars.$secondary-color-200;
  $button-hover-color: vars.$secondary-color-300;
  $primary-button-color: vars.$primary-color-200;
  $primary-button-hover-color: vars.$primary-color-300;
}

// ****************
// *** geometry ***
// ****************

$padding-s: 3px;
$padding-m: 5px;
$padding-l: 8px;

$border-radius-s: 3px;
$border-radius-m: 5px;
$border-radius-l: 7px;

$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 4px;

$margin-s: 3px;
$margin-m: 5px;
$margin-l: 8px;

// **************
// *** events ***
// **************

$transition-fast: 0.05s;
$transition-normal: 0.25s;
