@use 'themes' as t;

.thot-ui-shadow-box {
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  padding: t.$padding-l;
  border-radius: t.$border-radius-m;
}

.thot-ui-messages {
  position: absolute;
  bottom:0;
  right: t.$margin-l;

  .thot-ui-message {
    color: t.$message-font-color;
    padding: t.$padding-m;
    border-radius: t.$border-radius-m;
    margin-bottom: t.$margin-l;

    &.message-info {
      background-color: t.$info-color;
    }

    &.message-success {
      background-color: t.$success-color;
    }

    &.message-error {
      background-color: t.$error-color;
    }
  }
}

.thot-ui-drawer {
  height: 100%;
}

.thot-ui-asset-editor {
    .thot-ui-asset-file_name {
      overflow: auto;
      max-width: t.$input-width;
    }
}

.thot-ui-editor, .thot-ui-asset-editor {
  font-size: t.$font-size-xs;
  margin-bottom: t.$margin-l;

  h3 {
    margin: 0;
  }

  .metadata-header, .script-association-header {
    display: flex;
    justify-content: space-between;
  }

  button {
    all: unset;
    display: flex;
    align-items: center;
    padding: t.$padding-s;
    box-sizing: border-box;

    .thot-ui-add-remove-icon {
      width: t.$add-remove-icon-size;
      height: t.$add-remove-icon-size;
    }

    &:hover {
      cursor: pointer;
      background-color: t.$secondary-button-hover-background-color;
    }

  }
  
  input, textarea {
      display: block;
      width: t.$input-width; //Using % gives centering issues.
      padding: t.$input-padding-y t.$input-padding-x;
      border: t.$input-border-color t.$border-width-m solid;
      background-color: t.$input-background-color;
      box-shadow: none;
      overflow: auto;
      outline: none;
      resize: none; /*remove the resize handle on the bottom right*/
  }
  
  .script-add-cancel-buttons {
    display: flex;
    gap: t.$gap-s;
    align-items: center;
  }
}

.thot-ui-standard-properties-editor {

  .thot-ui-metadata-editor {

    margin-top: t.$margin-l;
    input {
      all:unset;
      appearance: auto;
      width: t.$input-width-s;
      border: solid t.$border-width-s transparent;

      &:focus {
        outline: none;
        border: solid t.$border-width-s t.$hover-border-color;
      }
      &:hover {
        border: solid t.$border-width-s t.$hover-border-color;
      }
    }
    .metadatum-key {
      width: t.$input-width-s;
    }

    .metadata-editor {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between; 
      }

      .metadatum, .thot-ui-metadatum-value-editor {
        display: flex;
        align-items: center;
        gap: t.$gap-s;
      }
    }

    .form-fields, .form-controls, .metadatum-value {
      display: flex;
      gap: t.$gap-s;
    }
  }
}

.thot-ui-file-selector {
  text-align: center;

  .path-control {
    .path {
      font-weight: bold;
    }

    button {
      padding: t.$padding-s;
      border-radius: t.$border-radius-s;
    }
  }
}

.thot-ui-script-associations-editor {

  .script-association {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // NOTE! This is note the same as the associations editor.
  .thot-ui-script-association-editor {
    display: flex;
    gap: t.$gap-m;
    align-items: center;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  input {
    all:unset;
    width: t.$input-number-width;
    appearance: auto;
    border: solid t.$border-width-s transparent;

    &:focus {
      outline: none;
      border: solid t.$border-width-s t.$hover-border-color;
    }
    &:hover {
      border: solid t.$border-width-s t.$hover-border-color;
    }
  }
}
