@use 'themes' as t;

.thot-ui-shadow-box {
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  padding: t.$padding-l;
  border-radius: t.$border-radius-m;
}

.thot-ui-messages {
  position: absolute;
  bottom:0;
  right: t.$margin-l;

  .thot-ui-message {
    color: t.$message-font-color;
    padding: t.$padding-m;
    border-radius: t.$border-radius-m;
    margin-bottom: t.$margin-l;

    &.message-info {
      background-color: t.$info-color;
    }

    &.message-success {
      background-color: t.$success-color;
    }

    &.message-error {
      background-color: t.$error-color;
    }
  }
}

.thot-ui-standard-properties-editor {
  .form-field {
    margin-bottom: t.$margin-l;
  }

  .thot-ui-metadata-editor {
    .metadata-editor {
      list-style: none;
      padding: 0;
    }
  }
}

.thot-ui-file-selector {
  text-align: center;

  .path-control {
    .path {
      font-weight: bold;
    }

    button {
      padding: t.$padding-s;
      border-radius: t.$border-radius-s;
    }
  }
}
