@use 'themes' as t;

.thot-ui-shadow-box {
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  padding: t.$padding-l;
  border-radius: t.$border-radius-m;
}

.thot-ui-messages {
  position: absolute;
  bottom:0;
  right: t.$margin-l;

  .thot-ui-message {
    color: t.$message-font-color;
    padding: t.$padding-m;
    border-radius: t.$border-radius-m;
    margin-bottom: t.$margin-l;

    &.message-info {
      background-color: t.$info-color;
    }

    &.message-success {
      background-color: t.$success-color;
    }

    &.message-error {
      background-color: t.$error-color;
    }
  }
}

.thot-ui-drawer {
  height: 100%;
}

.thot-ui-standard-properties-editor {
    overflow: auto;
    height: 100vh; // TODO[1] Not working properly

    .form-field {
      font-size: 0.85em;
      font-weight: 400;

      margin-bottom: t.$margin-l;

      h3 {
        font-size: 1em;
        margin: 0;
      }

      input, textarea {
          display: block;
          width: 170px;
          padding: 0.4em 0.9em;
          font-size: 1em;
          font-weight: 400;
          border: #6B7280 t.$border-width-m solid;
          background-color: t.$frame-background-color;
          box-shadow: none;
          overflow: auto;
          outline: none;
          resize: none; /*remove the resize handle on the bottom right*/
      }


  }


  .metadata {
    border-top: red;
  }

  .thot-ui-metadata-editor {
    .metadata-editor {
      list-style: none;
      padding: 0;
    }
  }
}

.thot-ui-file-selector {
  text-align: center;

  .path-control {
    .path {
      font-weight: bold;
    }

    button {
      padding: t.$padding-s;
      border-radius: t.$border-radius-s;
    }
  }
}
