@use "themes" as t;
@use "mixins";

.syre-ui-icon {
  width: t.$icon-size;
  height: t.$icon-size;
}

.syre-ui-shadow-box {
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  padding: t.$padding-l;
  border-radius: t.$border-radius-m;
  max-width: 90%;
}

.syre-ui-messages {
  position: absolute;
  bottom: 0;
  right: t.$margin-l;
  text-align: right;
  max-width: 50%;

  .syre-ui-message {
    display: flex;
    color: t.$message-font-color;
    border-radius: t.$border-radius-m;
    margin-bottom: t.$margin-l;

    &.message-info {
      background-color: t.$info-color;

      .close-btn {
        border-left-color: t.$info-border-color;
      }
    }

    &.message-success {
      background-color: t.$success-color;

      .close-btn {
        border-left-color: t.$success-border-color;
      }
    }

    &.message-error {
      background-color: t.$error-color;

      .close-btn {
        border-left-color: t.$error-border-color;
      }
    }

    &.message-warning {
      background-color: t.$warning-color;

      .close-btn {
        border-left-color: t.$warning-border-color;
      }
    }

    .content {
      flex-grow: 1;
      text-align: left;
      padding: t.$padding-m t.$padding-xl t.$padding-m t.$padding-3xl;
    }

    .close-btn {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 0 t.$padding-m;
      border-left: solid;
      border-left-width: t.$border-width-s;
    }

    .details-title {
      cursor: pointer;

      svg {
        padding-left: t.$padding-m;
        vertical-align: middle;
      }
    }

    .details-body {
      max-height: 25vh;
      overflow: auto;
    }
  }
}

.syre-ui-drawer {
  height: 100%;
  min-width: 10%;
  max-width: 40%;

  .resize-handle {
    height: 100%;
    width: t.$resize-handle-width;
    background-color: t.$background-accent-color;

    &.horizontal {
      cursor: ew-resize;
    }

    &.vertical {
      cursor: ns-resize;
    }
  }
}

.syre-ui-asset-editor {
  .syre-ui-asset-file_name {
    overflow: auto;
    max-width: t.$drawer-content-width;
  }
}

.syre-ui-editor,
.syre-ui-asset-editor {
  font-size: t.$font-size-xs;
  margin-bottom: t.$margin-l;

  h3 {
    margin: 0;
  }

  .metadata-header,
  .script-association-header {
    display: flex;
    justify-content: space-between;
  }

  button {
    all: unset;
    display: flex;
    align-items: center;
    padding: t.$padding-s;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background-color: t.$secondary-button-hover-background-color;
    }
  }

  input,
  textarea {
    display: block;
    width: t.$drawer-content-width; //Using % gives centering issues.
    padding: t.$input-padding-y t.$input-padding-x;
    border: t.$input-border-color t.$border-width-m solid;
    background-color: t.$input-background-color;
    box-shadow: none;
    overflow: auto;
    outline: none;
    resize: none; /*remove the resize handle on the bottom right*/
  }

  .script-add-cancel-buttons {
    display: flex;
    gap: t.$gap-s;
    align-items: center;
  }
}

.syre-ui-project-properties-editor,
.syre-ui-container-properties-editor,
.syre-ui-asset-properties-editor,
.syre-ui-bulk-container-properties-editor,
.syre-ui-bulk-asset-properties-editor,
.syre-ui-bulk-resource-properties-editor {
  .syre-ui-metadata-editor {
    margin-top: t.$margin-l;

    input {
      all: unset;
      appearance: auto;
      width: t.$drawer-content-width-1-4;
      border: solid t.$border-width-s transparent;

      &:focus {
        outline: none;
        border: solid t.$border-width-s t.$hover-border-color;
      }

      &:hover {
        border: solid t.$border-width-s t.$hover-border-color;
      }
    }

    .metadata-editor {
      list-style: none;
      padding: 0;

      li {
        display: flex;
      }

      .syre-ui-metadatum {
        flex-grow: 1;

        .metadatum-fields {
          display: flex;
          align-items: center;
          gap: t.$gap-s;

          .metadatum-key {
            @include mixins.hide-text-overflow;
            flex-grow: 1;
            width: t.$drawer-content-width-1-4;
          }

          .metadatum-value {
            flex-grow: 3;

            input {
              width: 100%;
            }
          }
        }
      }
    }

    .syre-ui-metadatum-builder .error,
    .syre-ui-metadatum .error {
      display: block;
      color: t.$error-color;
    }

    .form-fields,
    .form-controls,
    .metadatum-value {
      display: flex;
      gap: t.$gap-s;
    }
  }
}

.syre-ui-bulk-container-properties-editor,
.syre-ui-bulk-asset-properties-editor,
.syre-ui-bulk-resource-properties-editor {
  .syre-ui-bulk-tag-editor {
    list-style: none;
    padding: 0;

    ul {
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .add-tags {
      display: flex;
    }
  }
}

.syre-ui-file-selector {
  text-align: center;

  .path-control {
    .path {
      font-weight: bold;
      padding-right: t.$padding-xl;
    }

    button {
      padding: t.$padding-s;
      border-radius: t.$border-radius-s;
    }
  }
}

.syre-ui-script-associations-editor {
  .script-association {
    display: flex;
  }

  // NOTE! This is note the same as the associations editor.
  .syre-ui-script-association-editor {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .script-association-script {
    @include mixins.hide-text-overflow;
    flex-grow: 1;
    width: t.$drawer-content-width-1-4;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  input {
    all: unset;
    width: t.$input-number-width;
    appearance: auto;
    border: solid t.$border-width-s transparent;

    &:focus {
      outline: none;
      border: solid t.$border-width-s t.$hover-border-color;
    }
    &:hover {
      border: solid t.$border-width-s t.$hover-border-color;
    }
  }
}
