@use "themes" as t;

.m-0 {
  margin: 0;
}

.ml-xl {
  margin-left: t.$margin-xl;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.align-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
}

.c-warning {
  color: t.$warning-color;
}
