// **************
// *** Colors ***
// **************

// primary color
$primary-color-50: #F1FDFF;
$primary-color-100: #E8F7F9;
$primary-color-200: #D0E6E9;
$primary-color-300: #B4DCE1;
$primary-color-400: #95D1D9;
$primary-color-500: #77B9CE;
$primary-color-600: #51A1C4;
$primary-color-700: #2281AA;
$primary-color-800: #065B80;
$primary-color-900: #00364E;

$primary-base: $primary-color-300;

// secondary color
$secondary-color-50: #F3F4F7;
$secondary-color-100: #E1E3E6;
$secondary-color-200: #C4C7CC;
$secondary-color-300: #A6AAB3;
$secondary-color-400: #898E99;
$secondary-color-500: #6B7280;
$secondary-color-600: #565B66;
$secondary-color-700: #40444D;
$secondary-color-800: #2B2E33;
$secondary-color-900: #181A1E;

$secondary-base: $secondary-color-300;

// utility red
$utility-red-50: #ffE9e1;
$utility-red-100: #ffC1ab;
$utility-red-200: #ee9676;
$utility-red-300: #e97d55;
$utility-red-400: #e05c2b;
$utility-red-500: #d5410b;
$utility-red-600: #b33000;
$utility-red-700: #871319;
$utility-red-800: #570c10;
$utility-red-900: #3a080b;

$utility-red-base: $utility-red-300;

// utility yellow
$utility-yellow-50: #FFFBF2;
$utility-yellow-100: #FFEECC;
$utility-yellow-200: #FEE8B0;
$utility-yellow-300: #FFDC82;
$utility-yellow-400: #FFCC67;
$utility-yellow-500: #FFB800;
$utility-yellow-600: #D99717;
$utility-yellow-700: #996600;
$utility-yellow-800: #664400;
$utility-yellow-900: #3D2900;

$utility-yellow-base: $utility-yellow-300;

// utility green
$utility-green-50: #F7FAF0;
$utility-green-100: #E9F1D8;
$utility-green-200: #D3E9CD;
$utility-green-300: #BED58B;
$utility-green-400: #A8C764;
$utility-green-500: #92B93D;
$utility-green-600: #759431;
$utility-green-700: #486F25;
$utility-green-800: #3A4A18;
$utility-green-900: #242E0F;

$utility-green-base: $utility-green-300;

// *************
// *** Fonts ***
// *************

@font-face {
  font-family: "Oddity";
  src: url("/public/fonts/oddity/Oddity-Regular.woff2") format("woff");
}

// font family
$font-family-primary: Oddity, Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;

$font-family-secondary: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;

// font weight
$font-weight-base: 400;

// font size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$font-size-7xl: 4.5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;

// line height
$line-height-xs: 1rem;
$line-height-sm: 1.25rem;
$line-height-base: 1.5rem;
$line-height-lg: 1.5rem;
$line-height-xl: 1.6rem;
$line-height-2xl: 1.7rem;
$line-height-3xl: 1.875rem;
$line-height-4xl: 2.25rem;
$line-height-5xl: 3rem;
$line-height-6xl: 3.75rem;
$line-height-7xl: 4.5rem;
$line-height-8xl: 6rem;
$line-height-9xl: 8rem;
