@use 'themes' as t;
@use 'mixins';

.project-scripts-widget {
  button {
    width: t.$drawer-content-width; 
    background-color: t.$project-script-button-background-color;

      &:hover {
        background-color: t.$project-script-button-hover-background-color;
      }
  }

  ul {
    list-style: none;
    padding: 0 0 t.$padding-m 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      &:hover {
        cursor: pointer;
        background-color: t.$secondary-button-hover-background-color;
      }

      .name {
        @include mixins.hide-text-overflow;
        flex-grow: 1;
      }

      button {
        all: unset;
        display: flex;
        align-items: center;
        padding: t.$padding-s;
        box-sizing: border-box;

        .thot-ui-add-remove-icon {
          width: t.$add-remove-icon-size;
          height: t.$add-remove-icon-size;
        }
      }
    }

  }
}
